
<h1>The Best Place To Stay!!</h1><br />
<img src="https://i.ibb.co/L0X17xr/A0-CEA36-C-BEAB-4-B6-E-943-C-D4-C58515-DD27.jpg" height="200" width="500" alt="Room Sample picture" border="0">
<br />
<figcaption>
   <a asp-action="Create"><span class="btn btn-success">Book Now</span></a>
</figcaption>
