


<div class="text-center">

    <h1>𝐖𝐄𝐋𝐂𝐎𝐌𝐄 𝐓𝐨  𝕃𝕖𝕞𝕚 ℍ𝕠𝕥𝕖𝕝 </h1>
    <p>Date/Time: <span id="datetime"></span></p>


    
        <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleString();         
        </script>

   
    <img src="https://i.ibb.co/4jxL4xB/pool-png.jpg" alt="pool-png" border="0">



    @*<h5 class="card-title">Make your booking easy with Lemi Hotel Booking System</h5>
        <p class="card-text">This is HotelBooking  manegment web App.</p>
        <div style="color:Highlight; font-size:100Px; ">
            <marquee behavior="alternate" scrollamount="5">
                <a href="https://ibb.co/D1HQ29Y">
                    <img src="https://i.ibb.co/L0X17xr/A0-CEA36-C-BEAB-4-B6-E-943-C-D4-C58515-DD27.jpg" height="200" width="400" alt="Lemi Hotel" border="0">
                </a> <br />
                𝕃𝕖𝕞𝕚 ℍ𝕠𝕥𝕖𝕝
            </marquee>
        </div> *@
</div>
