


<div class="text-center">
    <div class="welcome">
        <h1>WELCOME TO LEMI HOTEL </h1> 
        <section>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>Current Date/Time:</th>
                        <th> Temperature :</th>
                        <th> Condition :</th>
                        <th>Location :</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span id="datetime"></span></td>
                        <td><span id="temperature"></span></td>
                        <td><span id="description"></span></td>
                        <td><span id="location"></span></td>
                    </tr>
                </tbody>
           
            </table>
            
        </section>
    <div></div>
    </div>

    
    <style>
            body {
                background-image: url("https://i.ibb.co/4jxL4xB/pool-png.jpg");
                background-color: #cccccc; /* Used if the image is unavailable */
                height: 500px; /* You must set a specified height */
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover;
            }

            .welcome {
                background-color: ghostwhite;
            }

         table {

  background-color: green;

  animation-name: info;
  animation-duration: 10s;
  animation-iteration-count: 100;
  animation-direction: alternate;
}

@@keyframes info {
  0%   {background-color:Highlight; left:0px; top:0px;}
  25%  {background-color:darkseagreen; left:200px; top:0px;}
  50%  {background-color:powderblue; left:200px; top:200px;}
  75%  {background-color:white; left:0px; top:200px;}
  100% {background-color:slategrey; left:0px; top:0px;}
}


    </style>


        <script>
            var dt = new Date();
            document.getElementById("datetime").innerHTML = dt.toLocaleString();



            function getWeather() {
                let temperature = document.getElementById("temperature");
                let description = document.getElementById("description");
                let location = document.getElementById("location");
            }

            let api = "https://api.openweathermap.org/data/2.5/weather";
            let apiKey = "a7ae6cc41f4418017387af627bf49aaa";


            navigator.geolocation.getCurrentPosition(success, error);


            function success(position) {
                console.log(position);
            }

            function error() {
                console.log("error");
            }


            getWeather()


            latitude = position.coords.latitude;
            longitude = position.coords.longitude;

            let url =
                api +
                "?lat=" +
                latitude +
                "&lon=" +
                longitude +
                "&appid=" +
                apiKey +
                "&units=imperial";

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let temp = data.main.temp;
                    temperature.innerHTML = temp + "° F";
                    location.innerHTML =
                        data.name @*+ " (" + latitude + "°, " + longitude + "°)";*@
                    description.innerHTML = data.weather[0].main;
                });


            function getWeather() {
                let temperature = document.getElementById("temperature");
                let description = document.getElementById("description");
                let location = document.getElementById("location");

                let api = "https://api.openweathermap.org/data/2.5/weather";
                let apiKey = "f146799a557e8ab658304c1b30cc3cfd";

                location.innerHTML = "Locating...";

                navigator.geolocation.getCurrentPosition(success, error);

                function success(position) {
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;

                    let url =
                        api +
                        "?lat=" +
                        latitude +
                        "&lon=" +
                        longitude +
                        "&appid=" +
                        apiKey +
                        "&units=imperial";

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            let temp = data.main.temp;
                            temperature.innerHTML = temp + "° F";
                            location.innerHTML =
                                data.name @*+ " (" + latitude + "°, " + longitude + "°)";*@
                            description.innerHTML = data.weather[0].main;
                        });
                }

                function error() {
                    location.innerHTML = "Unable to retrieve your location";
                }
            }

            getWeather();
        </script>
    

</div>
