
<div>
    <div class="text-center">
        <h1 class="display-4">𝐖𝐄𝐋𝐂𝐎𝐌𝐄 𝐓𝐨</h1>
    </div>

    <div>
        <div style="color:Highlight; font-size:100Px; ">
            <marquee behavior="alternate" scrollamount="5">
                <a href="https://ibb.co/D1HQ29Y">
                    <img src="https://i.ibb.co/L0X17xr/A0-CEA36-C-BEAB-4-B6-E-943-C-D4-C58515-DD27.jpg" height="200" width="400" alt="Lemi Hotel" border="0">
                </a> <br />
                𝕃𝕖𝕞𝕚 ℍ𝕠𝕥𝕖𝕝
            </marquee>
        </div>
        <div style="font-size:100Px;">
            <marquee behavior="scroll" direction="up" scrollamount="1">

                <a href="https://ibb.co/D1HQ29Y">
                    <img src="https://i.ibb.co/L0X17xr/A0-CEA36-C-BEAB-4-B6-E-943-C-D4-C58515-DD27.jpg" height="150" width="300" alt="Lemi Hotel" border="0">
                </a>
                𝑀𝒶𝓀𝑒 𝒴𝑜𝓊𝓇 𝐵𝑜𝑜𝓀𝒾𝓃𝑔 𝐸𝒶𝓈𝓎 𝓌𝒾𝓉𝒽 𝐿𝑒𝓂𝒾 𝐻𝑜𝓉𝑒𝓁
            </marquee>
        </div>

        <div style="color:darkolivegreen; font-size:100Px;">
            <marquee behavior="scroll" direction="left" scrollamount="5">𝓣𝓗𝓔 𝓑𝓔𝓢𝓣 𝓟𝓛𝓐𝓒𝓔 𝓣𝓞  𝓢𝓣𝓐𝓨</marquee>
        </div>

        @*<marquee behavior="scroll" direction="left" scrollamount="20">𝐋𝐞𝐦𝐢 𝐇𝐨𝐭𝐞𝐥</marquee>
            <marquee behavior="scroll" direction="right" scrollamount="50">𝕃𝕖𝕞𝕚 ℍ𝕠𝕥𝕖𝕝</marquee>*@
    </div>
</div>