@model HotelBookingSystem.Models.Room


<div>
    <h3>you want to Delete Room  @Html.DisplayFor(model => model.Name) ? </h3>
    <hr />
    <table class="table table-bordered">
        <tr class="table-warning">
            <th>
                Room Number
            </th>
            <th>
                Room Price
            </th>
            <th>
                Room Type 
            </th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                $ @Html.DisplayFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.Name)
            </td>
            <td>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delet" class="btn btn-danger" />

                </form>
            </td>
        </tr>
    </table>
    <a asp-action="Index" class="badge badge-success"><h5> <i class="fas fa-undo-alt"></i> &nbsp; Back to List</h5></a>

</div>
