@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 style="font-size:100px"> <marquee behavior="alternate">Lemi Hotel</marquee></h1>
    <p>make your booking easy with Lemi Hotel web app</p>
</div>
